* {
  box-sizing: border-box;
}
  
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Amatic SC", sans-serif;
  font-size: 35px;
  background-color: #fff;
  color: #222;
}
  
.about-section {
  padding: 80px 20px;
  background-color: #000;
}
 
.section-title {
  color: white;
  text-align: center;
  font-size: 64px;
  margin-bottom: 60px;
}

.content {
  max-width: 1100px;
  margin: auto;
}

.chef-image {
  float: right;
  border-radius: 50%;
  width: 200px;
  margin-left: 20px;
}
  
.restaurant-image {
  width: 100%;
  margin: 20px 0;
}

.hours {
  display: flex;
  justify-content: space-between;
}
  
  