* {
    box-sizing: border-box;
  }
  
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Amatic SC", sans-serif;
    font-size: 35px;
    background-color: #fff;
    color: #222;
  }
  